<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.zwh.dao.AlbumDao">
    <!--分页查询-->
    <select id="findAllByPage" resultType="Album">
        select * from album limit #{start},#{rows}
    </select>
    <!--查询总条数-->
    <select id="findCount" resultType="java.lang.Integer">
        select count(id) from album
    </select>

    <!--添加-->
    <insert id="addAlbum">
        insert into album values(#{id},#{title},#{score},#{author},#{teller},
        #{chapterNum},#{albumAbout},#{status},#{issuedate},#{creattime},#{imgPath})
    </insert>

    <!--修改路径-->
    <update id="update">
        update album set imgPath=#{imgPath} where id=#{id}
    </update>

    <!--修改内容-->
    <update id="updateById">
        update album set title=#{title},author=#{author},teller=#{teller},
        chapterNum=#{chapterNum},albumAbout=#{albumAbout},status=#{status},
        imgPath=#{imgPath} where id=#{id}
    </update>

    <!--批量删除-->
    <delete id="deleteMath">
        delete from album where id in
        <foreach collection="array" open="(" separator="," close=")" item="id">
            #{id}
        </foreach>
    </delete>

    <!--根据id查询-->
    <select id="selectById" resultType="Album">
        select * from album where id=#{id}
    </select>


</mapper>
