<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.zwh.dao.UserDao">
    <!--查询近期注册用户-->
    <select id="queryByDate" resultType="java.lang.Integer">
        select count(id) from user where  DATEDIFF(now(),createdate) &lt; #{num} and sex=#{sex}
    </select>
    <!--查询用户地区分布-->
    <select id="queryBypro" resultType="java.util.HashMap">
        select province,count(id) from user where sex=#{sex} group by province
    </select>
    <!--用户注册-->
    <insert id="insertUser">
        insert into user values (
            #{id},#{name},#{password},#{url},#{province},#{sex},#{createdate}
        )
    </insert>

    <!--用户登录-->
    <select id="userLogin" resultType="User">
        select * from user where name=#{username} and password=#{password}
    </select>
    <!--查询用户列表-->
    <select id="queryAU" resultType="user">
        select * from user
    </select>
</mapper>
